{% extends 'layout.html' %}

{% block content %}

<div class="container">
    <div class="col-lg-12">
        <h1 style="padding-left: 0;">Leave a message!</h1>
        <p>I appreciate all feedback!</p>
        <form method="POST" action="{{ url_for('contact') }}">
            {{ form.csrf_token }} 
            <p>
                {{ form.name.label }} 
                <br>
                {{ form.name }}
            </p>
            <p>
                {{ form.email.label }} 
                <br>
                {{ form.email(size=30) }}
            </p>
            <p>
                {{ form.message.label }} 
                <br>
                {{ form.message }}
            </p>
            {{ form.recaptcha }}
            {{ form.submit }}
        </form>
    </div>
</div>

{% endblock %}